@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;500;600&display=swap");

body {
  font-family: "Mona Sans", sans-serif !important;
}

.top-nav-container {
  background: linear-gradient(90.32deg, #febed9 -39.08%, #c8ddff 91.1%);
  color: #241042;
}
.bold-nav-text {
  font-weight: 600;
}

.lang-div {
  display: none !important;
}

.show-lan-div {
  display: block !important;
}

.close-btn-style {
  font-size: 0.8rem;
  color: #000000;
}

.custom-navbar {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 5px #e3e3e3;
}

.navbar-expand-lg {
  padding: 1.8rem !important;
}

.login-btn {
  border: 1px solid #170c34;
  padding: 6px;
  border-radius: 2rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
  cursor: pointer;
}
.nav-link {
  color: #170c34 !important;
  font-weight: 500 !important;
}

.login-btn img {
  height: auto;
}
.dropdown-toggle::after {
  display: none !important;
}

.custom-dropdown-btn {
  border: 1px solid #170c34 !important;
  border-radius: 2rem !important;
  background-color: transparent;
}

.lang-dropdown-btn {
  border: 1px solid var(--Neutral-White, #ffffff) !important;
  border-radius: 1.5rem !important;
  background-color: transparent !important;
  color: var(--Neutral-White, #ffffff) !important;
  padding: 0.5rem !important;
}

.custom-arrow {
  margin-left: 8px;
  font-size: 1.5rem;
}

.empower-btn {
  border: 1px solid #fc1777 !important;
  border-radius: 2rem !important;
  color: #fc1777 !important;
  width: fit-content;
  font-size: 13px !important;
}

.landing-heading {
  color: var(--Secondary-Violet---700, #361863);
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-border {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-text {
  flex-grow: 1;
  text-align: center;
}
.line-manager-btn {
  background: var(--Secondary-Violet---500, #482084) !important;
}
.employer-btn {
  background: var(--Primary-Orange---500, #ff8100) !important;
}
.active-btn {
  border-radius: 2rem !important;
  height: 3rem;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
  color: white !important;
}

.non-active-btn {
  border: 1px solid var(--Secondary-Violet---700, #361863) !important;
  border-radius: 2rem !important;
  color: var(--Secondary-Violet---700, #361863) !important;
  font-weight: 500;
  height: 3rem;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.rotate-btn {
  transform: rotate(90deg);
  background: linear-gradient(124.64deg, #3a86ff 22.19%, #482084 94.33%);
  color: white !important;
  border-radius: 2rem !important;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}
.tab-view-container {
  gap: 5rem;
}
.tab-description-wrapper {
  position: relative;
  width: 55%;
  margin-top: 20px;
}

.tab-item {
  width: 90%;
}

.tab-description {
  border-radius: 2rem;
  background-color: white;
  z-index: 3;
  position: relative;
}

.bg-layer-1 {
  position: absolute;
  bottom: -50px;
  right: -40px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 2;
}

.bg-layer-2 {
  position: absolute;
  bottom: -80px;
  right: -80px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 1;
}

.bg-line-manager-layer-1 {
  position: absolute;
  bottom: -40px;
  right: 30px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 2;
}

.bg-line-manager-layer-2 {
  position: absolute;
  bottom: -80px;
  right: -50px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 1;
}

.bg-employee-layer-1 {
  position: absolute;
  bottom: -40px;
  right: 30px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 2;
}

.bg-employee-layer-2 {
  position: absolute;
  bottom: -80px;
  right: 50px;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 1;
}

.tab-text {
  color: var(--Secondary-Violet---700, #361863);
  font-weight: 600;
  text-align: left;
}

.description-text {
  font-weight: 400;
  color: var(--Tertiary-AshViolet---400, #433a5b);
}

.unlock-container {
  padding-top: 5rem;
}

.initial-card-style {
  background: linear-gradient(162.04deg, #ffae5c 2.79%, #fd4190 80.66%);
  color: white !important;
  border-radius: 2rem !important;
  border: none;
  padding: 2rem;
}
.card-title {
  font-weight: 600;
}
.card-description {
  font-weight: 400;
  font-size: 1.1rem;
}

.small-card-style {
  box-shadow: 0px -8px 13px -9px #0000000f inset;
  background: linear-gradient(190.07deg, #fd4190 -12.2%, #a8c5ff 63%);
  border-radius: 2rem !important;
  border: none;
  padding: 1rem;
}

.small-card-two-style {
  text-align: center;
  background: linear-gradient(156.77deg, #febed9 -37.31%, #c8ddff 52.67%);
  border-radius: 2rem !important;
  border: none;
  padding: 2rem;
  position: relative;
  padding-bottom: 0;
  overflow: visible;
}

.small-card-two-text {
  color: var(--Tertiary-AshViolet---400, #433a5b);
  font-size: 400;
}

.third-card-title {
  font-weight: 600;
  color: var(--Secondary-Violet---900, #241042);
}

.third-card-text {
  font-size: 400;
  background: var(--Tertiary-AshViolet---400, #433a5b);
}

.card-btn {
  background: var(--Secondary-Violet---600, #3f1c74);
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.4rem;
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  z-index: 2;
}

.white-card {
  background-color: #fff;
  padding: 1.3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  margin-top: 2rem;
  margin-bottom: -2rem;
  z-index: 1;
}

.employee-name {
  color: var(--Tertiary-Dark--AshViolet---500, #170c34);
  font-weight: 600;
}

.employee-period {
  color: var(--Tertiary-AshViolet---300, #6f6881);
  font-weight: 400;
}

.employee-divider {
  border-top: var(--Neutral-White, #adb5bdcc) solid !important;
}

.employee-hrs {
  color: var(--Tertiary-Dark--AshViolet---500, #170c34);
  font-weight: 700;
  font-size: 1.5rem;
}

.progress {
  background-color: var(--Secondary-Blue---50, #ebf3ff) !important;
  height: 0.7rem !important;
}

.progress-bar {
  width: 70%;
  background: linear-gradient(
    126.9deg,
    #fc1777 -9.7%,
    #3a86ff 140.79%
  ) !important;
}

.fourth-card-style {
  background: linear-gradient(340.7deg, #5e9cff 33.95%, #69489a 114.7%);
  color: white !important;
  border-radius: 2rem !important;
  border: none;
}

.cards-div {
  position: absolute;
  top: 10px;
  right: -12px;
}

.fifth-card-style {
  background: linear-gradient(105.4deg, #fd6ba8 2.24%, #5e9cff 96.35%);
  color: white !important;
  border-radius: 2rem !important;
  border: none;
  padding: 0.8rem;
  position: relative;
}

.sixth-card-style {
  background: linear-gradient(136.55deg, #8a70b0 8.08%, #482084 117.63%);
  color: white !important;
  border-radius: 2rem !important;
  border: none;
}

.img-container {
  position: relative;
  bottom: -16px;
  left: 158px;
}

.card-image {
  object-fit: cover;
  position: relative;
}

.text-container {
  width: 50%;
}

.small-card-container {
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 0;
}

.footer-container {
  background: linear-gradient(
    140.35deg,
    #170c34 14.46%,
    #482084 58.66%,
    #3a86ff 117.61%
  );
  position: relative;
}

.footer-text-head {
  color: white;
  font-weight: 600;
}

.outline-btn {
  color: white;
}

.footer-ul-head {
  font-weight: 600;
  font-size: 20px;
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
  font-size: 400;
  color: var(--Tertiary-AshViolet---100, #c7c5ce);
  font-size: 16px;
}

.icons-div-container {
  border-top: 1px solid #adb5bd38;
  border-bottom: 1px solid #adb5bd38;
}

.copy-right-text {
  color: var(--Tertiary-AshViolet---100, #c7c5ce);
  font-weight: 400;
  font-size: 0.85rem;
}

.privacy-policy-text {
  color: var(--Tertiary-AshViolet---100, #c7c5ce);
  font-weight: 400;
  font-size: 0.9rem;
}

.policy-item {
  position: relative;
  padding-right: 1rem;
}

.policy-item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #69489a70;
}

.policy-item:last-of-type::after {
  display: none;
}

.message-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.underline-container {
  display: none;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .top-nav-container {
    padding: 10px;
  }

  .nav-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .top-nav-container {
    padding: 8px;
    text-align: center;
    top: 105px;
  }

  .nav-text {
    font-size: 1rem;
  }

  .lang-div {
    display: block !important;
  }

  .show-lan-div {
    display: none !important;
  }

  .landing-container {
    padding-top: 17%;
  }

  /* .btn-text {
    padding-left: 10px !important;
  } */

  .non-active-btn {
    padding: 0 !important;
    border: none !important;
    color: var(--Secondary-Violet---700, #361863) !important;
  }

  .active-btn {
    padding: 0 !important;
    border: none !important;
    background-color: white !important;
    color: var(--Secondary-Violet---700, #361863) !important;
  }

  .btn-primary {
    color: var(--Secondary-Violet---700, #361863) !important;
  }

  .extra-padding {
    padding-left: 2.5rem !important;
    font-size: 12px !important;
    font-weight: 600 !important;
  }

  .underline-container {
    display: block;
  }

  .tab-item {
    transform: rotate(-0.25turn);
    width: 250px;
  }
  .hide-hr {
    display: none;
  }

  .tab-description-wrapper {
    right: 170px;
    width: 100%;
  }

  .bg-layer-1 {
    bottom: -7px !important;
    right: -13px !important;
  }

  .bg-layer-2 {
    bottom: -17px !important;
    right: -21px !important;
  }

  .rotate-btn {
    margin-top: 30rem;
    margin-right: -4rem;
  }
  .tab-description {
    width: 278px;
  }

  .vertical-container {
    margin-left: 40px;
    gap: 6rem !important;
    padding-top: 50px;
  }

  .bg-line-manager-layer-1 {
    bottom: -10px;
    right: 9px;
  }
  .bg-line-manager-layer-2 {
    bottom: -24px;
    right: -14px;
  }

  .bg-employee-layer-1 {
    bottom: -10px;
    right: 11px;
  }

  .bg-employee-layer-2 {
    bottom: -22px;
    right: 23px;
  }

  .move-right {
    right: 147px;
  }

  .move-left {
    right: 150px;
  }

  .cards-div {
    position: relative;
  }

  .card-image {
    top: 15px;
    /* left: 78px; */
  }

  .social-icons-div{
    display: none;
  }

  .lang-dropdown-btn{
    padding: 0.3rem !important;
  }
  .message-icon{
    bottom: 2px;
  }

  .mobile{
    width: 28.333333% !important;
  }

  .tab-text{
    font-weight: 400;
  }

  .hide-navbar {
    display: none !important;
  }
}
